* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
  background-color: #f7e4d4;
}

h1 {
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: 48px;
  color: #467745;
}

input {
  font-weight: medium;
  font-size: 16px;
  width: 480px;
  height: 64px;
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 20px;
}

input::placeholder {
  opacity: 0.5;
}

textarea {
  width: 480px;
  height: 120px;
  border: none;
  padding: 20px;
  outline: none;
}

textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  opacity: 0.5;
}

input[type="checkbox"] {
  max-width: 20px;
  max-height: 20px;
  margin-right: 20px;
  border: none;
  outline: none;
}

label {
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  border: none;
  font-size: 16px;
  color: #467745;
}
span {
  text-decoration: underline;
}

button {
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: 21px;
  text-align: center;
  width: 280px;
  height: 80px;
  background-color: #467745;
  color: #f7e4d4;
  letter-spacing: 0.2em;
  border-radius: 40px;
}

@media only screen and (max-width: 520px) {
  body {
    display: flex;
    justify-self: center;
    align-items: flex-start;
    margin-left: 50px;
  }
  h1 {
    font-size: 36px;
    text-align: left;
    color: #467745;
  }

  input {
    font-size: 16px;
    max-width: 288px;
    max-height: 40%;

    color: #467745;
  }

  textarea {
    font-size: 16px;
    max-width: 288px;
    max-height: 40%;
  }

  div {
    display: flex;
  }
  label {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }
}
